In [1]:
import pandas as pd

# Creating a DataFrame

path = 'dataset/loan_dataset.csv'
df = pd.read_csv(path)
df.head()

df = pd.DataFrame(df)

# Filtering the specified columns
filtered_df = df[[
    'Employment_Status', 'Annual_Income', 'Credit_Score', 
    'Total_Existing_Loan_Amount', 'Outstanding_Debt', 'Loan_Amount_Requested', 
    'Loan_Type','Loan_Purpose', 'Loan_Approval_Status'
]]

filtered_df

,Employment_Status,Annual_Income,Credit_Score,Total_Existing_Loan_Amount,Outstanding_Debt,Loan_Amount_Requested,Loan_Type,Loan_Purpose,Loan_Approval_Status
0,Employed,139901,743,10942,19822,24535,Secured,Home,1
1,Employed,21162,468,48731,18321,8288,Unsecured,Home,0
2,Self-Employed,27815,389,6925,13851,10308,Secured,Vehicle,0
3,Self-Employed,137853,778,42016,28608,33937,Secured,Personal,1
4,Employed,81753,752,31747,8780,23360,Unsecured,Home,1
...,...,...,...,...,...,...,...,...,...
51995,Self-Employed,56085,381,3338,11909,15723,Secured,Home,1
51996,Self-Employed,79062,726,23659,24696,21209,Unsecured,Vehicle,1
51997,Unemployed,57471,396,4389,12367,10540,Unsecured,Education,0
51998,Employed,49495,362,25518,13240,16765,Secured,Vehicle,0
51999,Self-Employed,90371,803,5050,11009,20454,Unsecured,Education,1